.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
#aniBox{
    width: 125px;
    height: 125px;
    background: orange;
    font-size: 100px;
    text-align: center;

    animation: mySlide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-duration: 5s;
}
@keyframes mySlide {
    from{margin-left: 100%;}
    to{margin-left: 0%;}
    from{margin-top: 30%;}
    from{margin-top: 20%;}
}
img{
    width: 400px;
}
h1{
    font-family: "Bitcount Grid Double", "consolas";
    color:rgb(0, 0, 0);
}
h2{
    font-family: "VT323", "consolas";
    color:rgb(255, 0, 0);
}
body{
    background-color: rgb(139, 131, 255);
    text-align: center;
    font-family: sans-serif;
    color:rgb(158, 42, 22);
}
