.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
img{
    width: 400px;
}
h1{
    font-family: "Bitcount Grid Double", "consolas";
    color:rgb(0, 0, 0);
}
h2{
    font-family: "VT323", "consolas";
    color:rgb(0, 255, 13);
}
body{
    background-color: rgb(139, 131, 255);
    text-align: center;
    font-family: sans-serif;
    color:rgb(158, 42, 22);
}
